.ekv-pair {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.ekv-change-indicator {
    padding-right: 5px;
    font-size: 20px;
    color: grey;
}

.ekv-pair p {
    margin: 0;
    display: flex;
    align-items: center;
}

.ekv-pair input, .ekv-pair button, .ekv-pair textarea {
    margin-right: 5px;
    flex-grow: 0;
    min-height: 30px;
    padding: 4px 8px;
}

.ekv-pair input, .ekv-pair button {
    max-height: 30px;
}

.ekv-pair .ekv-change-indicator {
    padding-right: 10px;
}

.ekv-pair textarea {
    flex-grow: 3;
}

.ekv-wrap {
    width: 100%;
}

@media screen and (max-width: 782px) {
    .ekv-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ekv-wrap > div {
        box-sizing: border-box;
        flex-basis: calc(50% - 10px);
    }

    .ekv-wrap-settings, .ekv-quick-guide {
        display: block!important;
        padding-left: 0!important;
        order: -1;
    }
}

.ekv-donate, .ekv-donate form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.ekv-remove-pair, .ekv-toggle-visibility, .ekv-toggle-visibility-disabled {
    flex-shrink: 0;
    width: 30px!important;
    height: 30px!important;
    min-height: 30px!important;
    max-height: 30px!important;
    display: inline-flex!important;
    align-items: center;
    justify-content: center;
    margin-right: 5px!important;
}

#ekv-add-pair {
    margin-top: 10px;
}

.ekv-big-button {
    background-color: #0085ba;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.ekv-big-button:hover {
    background-color: #005082;
}

.ekv-big-button:active {
    transform: scale(0.98);
}

.ekv-ft-14 {
    font-size: 14px;
}

.ekv-pair button.ekv-toggle-visibility, .ekv-pair button.ekv-toggle-visibility-disabled {
    width: 34px!important;
}
